.footer {
  padding: 20px 0;
  display: flex;

  h3 {
    width: 320px;
    text-align: center;
  }
  a {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}

.tag {
  padding-top: 13px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
  button {
    background: none;
  }
}

.wh {
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 260px;
  }
}

.btnn {
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    background: none;
    font-size: 18px;
  }
}

.tele {
  background: black;
}
